.overlayform {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
    z-index: 999;
}

@media (width < 576px) {


    .overlayform {
        top: 40%;
    }

}