.overlayform {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  width: 100%;
}
.overlayform h3 {
  text-align: center;
  margin: 30px 0 50px;
  color: #fff;
  font-weight: 700;
  font-size: 45px;
}
@media (width < 768px) {

  .overlayform h3 {
    font-size: 32px;
  }
}
@media (width < 576px) {
  .overlayform {
    top: 50%;
  }
  .overlayform h3 {
    font-size: 28px;
  }
}

@media (width < 420px) {
  .overlayform {
    top: 50%;
  }
}
