.overlayform {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
    z-index: 999;
}
.overlayform h3{
    text-align: center;
    margin: 30px 20px 30px 0;
    color:  #fff;
    font-weight: 700;
}
@media (width < 576px) {
    .overlayform {
        top: 50%;
    }
}