html,
body {
  overflow-x: hidden;
  background-color: #0a0a0a;
  color: #ffff;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
