.inputgrp label {
    margin-bottom: 10px;
    color: #ffff;
    font-weight: 500;
    font-size: 14px;
    padding-left: 5px;
}

.inputgrp {
    margin-bottom: 25px;
    position: relative;
}

.inputgrp input {
    padding: 15px 0px;
    padding-left: 35px;
    font-size: 16px;
    background-color: #fff !important;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.inputgrp input:focus {
    border: none !important;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important;
    background-color: #fff !important;

}

.inputgrp input::placeholder {
    font-size: 13px;
    font-weight: 600;
    color: rgb(165, 163, 163);

}

.formpopup {
    width: 550px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #f8f9fa38;
}

.inputicon {
    top: 48px;
    left: 10px;
}

.sbtn,
.sbtn:hover {
    background: linear-gradient(130deg, #0e426a, #dd8a32), ;
    color: #fff;
    padding: 14px 70px;
    font-weight: 600;
    border-radius: 100px;

}


.sbtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -80%;
    width: 50%;
    height: 100%;
    background: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.35) 50%,
            rgba(255, 255, 255, 0) 100%);
    animation: shine 3s infinite linear;
    border: none;
}

@keyframes shine {
    0% {
        left: -1%;
    }

    100% {
        left: 60%;
    }
}

.inputgrp small {
    font-weight: 600;
    font-size: 12px;
    padding-left: 5px;
}

.formtitle{
    color: #fff;
    text-align: center;
}

.formtitle h4{
    font-weight: 600;
    font-size: 26px;
}

.formtitle p{
    font-size: 14px;
    font-weight: 500;

}